body * {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  height: 50px;
  padding: 10px;
  /* border-bottom: 1px solid #eceece; */
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

main {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

button {
  border: none;
  margin: 5px;
  min-height: 40px;
  width: 100px;
  background-color: #F0F0F0;
  border-radius: 5px;
}

button.secondary {
  background-color: white;
  border: 1px solid #F0F0F0;
}

button:hover {
  background-color: #cfcfcf;
}

table#stats {
  margin: 20px 0;
  width: 100%;

}

table > tbody > tr {
  border: 1px solid #F0F0F0;
  width: 100%;
}

table > tbody > tr > td {
  padding: 0.5rem;
  font-size: 0.75rem;
}

table > tbody > tr > td:last-child {
  text-align: end;
}

.left-column {
  /* flex: 4; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.right-column {
  margin-left: 15px;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}


#grid {
  border: 1px solid #e4e4e4;
  margin-bottom: 1rem;
}

#queue {
  margin: 20px;
}

.block {
  margin: auto;
  background-color:	#F0F0F0;
  height: 100%;
  width: 100%;
  border-radius: 40%;
  /* transform: rotate(45deg) */
}

#controls {
  margin: 0 auto;
}


.block-control {
  height: 2rem;
  width: 2rem;
  background-color: #F0F0F0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.block-control:hover {
  background-color: #cfcfcf;
}

.icon {
  width: 70%;
  height: 70%;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.fixed {
  background-color: lightslategray;
}

.block.flash {
  opacity: 0;
  /* height: 10%;
  width: 10%;  */
  transition: 0.5s;
  background-color: #F0F0F0;
}

/* Tetrimino Styles */

.i-block {
  background-color: #f94144;
}

.j-block {
  background-color: #f3722c;
}

.l-block {
  background-color: #f8961e;
}

.o-block {
  background-color: #f9c74f;
}

.s-block {
  background-color: #90be6d;
}

.t-block {
  background-color: #43aa8b;
}

.z-block {
  background-color: #577590;
}

/* Menu */

.menu {
  position: absolute;
  z-index: 100;
  max-width: 90%;
  max-height: 600px;
  overflow-y: scroll;
  background-color: white;
  border: 1px solid #e4e4e4;
  border-radius: 3%;
  margin: auto;
  padding: 30px;
  top: 100px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

.backdrop {
  height: 100%;
  width: 100%;
  background-color: white;
  /* opacity: 0.7; */
  z-index: 95;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hidden {
  display: none !important;
}

.logo-container {
  display: grid;
  grid-template-columns: repeat(6, 1.75rem);
  grid-template-rows: repeat(1, 1.75rem);
}

.leader-heading-container {
  display: grid;
  grid-template-columns: repeat(7, 1.75rem);
  grid-template-rows: repeat(1, 1.75rem);
}

.how-to-play-container {
  display: grid;
  grid-template-columns: repeat(11, 1.75rem);
  grid-template-rows: repeat(1, 1.75rem);
}

.logo-block {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  width: 95%;
  height: 95%;
  transform: rotate(-5deg);
}

.menu-logo {
  margin-bottom: 30px;
}

.menu > button {
  width: 60%;
}


table.leader-board {
  width: 90%;
  margin-bottom: 10px;
}

table.leader-board > tbody > tr {
  border: none;
}

table.leader-board > tbody > tr > td {
  min-height: 35px;
  min-width: 35px;
}

.menu h2 {
  font-size: 32px;
  margin: 0 0 20px 0;
}

.menu h3 {
  width: 100%;
  font-size: 24px;
  margin: 0 0 20px 0;
  text-align: left;
}

.menu p {
  /* text-align: center; */
  line-height: 160%;
  margin: 0 0 20px 0;
}

input[type='text'] {
  border: none;
  padding: 8px 6px;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #e4e4e4;
}

@media only screen and (min-width: 450px) {
  main {
    max-width: 600px;
  }
  .menu {
    max-width: 450px;
  }
  #grid {
    grid-template-columns: repeat(10, 1.75rem) !important;
    grid-template-rows: repeat(20, 1.75rem) !important;
  }
  table > tbody > tr > td {
    padding: 1rem;
    font-size: 1rem;
  }
  table#stats {
    width: 200px;
  }

  input[type='text'] {
    margin: 0 20px 20px 0;
    padding: 8px 10px;
    margin: 0 20px 20px 0;
  }
}
